.chat-page-container {
    background-color: #193718; /* Dark grey */
    height: 100vh; /* Adjust as needed */
  }
  
  .message-bar-container {
    background-color: #666666; /* Lighter grey */
    padding: 20px;
  }
  
  .search-bar-container {
    background-color: #666666; /* Lighter grey */
    padding: 20px;
  }